.none-transform {
  flex: 0 1 auto;
  margin: 32px;
  display: flex;
  outline: none;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
  flex-direction: column;
  width: 100%;
  margin: 0;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
  transform: none !important;
}
.button-active {
	color: #3f51b5;
}
.container {
	position: relative;
	margin: 10px;
	border: 1px solid #e1e1e1;
	border-radius: 15px;
	background-color: #fafafa;
}
.headers {
	position: relative;
	display: flex;
	padding: 10px;
	width: 100%;
	justify-content: space-between;
	flex-direction: row;
}
.headers .title { 
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
}
.body-content {
	position: relative;
	display: flex;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	padding: 10px 0;
	flex-direction: column;
	overflow-x: auto;
}
.body-content .week-header {
	display: flex;
	position: relative;
	flex-direction: row;
	width: 100%;
	flex: 1;
}
.body-content .week-header,
.body-content .week-body {
	min-width: 600px;
}
.body-content .week-header .blank,
.body-content .week-header .days,
.body-content .week-body .hours,
.body-content .week-body .selecte-hours {	
	display: flex;
	flex-direction: column;
}
.body-content .week-header .blank,
.body-content .week-body .hours { flex: 0.5; }
.body-content .week-header .days,
.body-content .week-body .selecte-hours { flex: 7; }
.body-content .week-header .days {
	display: flex;
	flex-direction: row;
}
.body-content .week-header .days {
	border-bottom: 1px solid #e1e1e1;
}
.body-content .week-header .blank > div {
	flex: 1;
	padding: 10px 5px;
	visibility: hidden;
}
.body-content .week-header .days > div {
	flex: 1 0 0;
	text-align: center;
	padding: 10px 0;
	border-left: 1px solid #e1e1e1;
	text-transform: capitalize;
}
.body-content .week-header .days > .active {
	background-color: #2196f3;
	color: white;
}
.body-content .week-body {
	display: flex;
	flex: 1;
}
.body-content .week-body .selecte-hours {
	border-left: 1px solid #e1e1e1;
	background-color: #ffff;
}
.body-content .week-body .selecte-hours > div:first-child {
	border-top: none;
}
.body-content .week-body .hours > div { 
	flex: 1;
	padding: 10px 5px; 
}
.body-content .week-body .hours > div,
.body-content .week-body .selecte-hours > .week-rows {
	border-top: 1px solid #e1e1e1;
	text-align: center;
}
.body-content .week-body .selecte-hours .week-rows {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1;
}
.button-grid:first-child {
	border-left: none;
}
.button-grid {
	flex: 1;
	border-left: 1px solid #e1e1e1 !important;
	transition: all .2s;
}
.button-grid:hover {
	background-color: #1f85d6 !important;
	color: white; 
}
.button-grid.not-availabled {
	background-color: #9e9e9e;
	color: white;
}
.button-grid.available {
	background-color: #2196f3;
	color: white;
}
.button-grid.active {
	background-color: red; 
}