.Loader {
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	background-color: white;
}
.Loader > .center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}