.wrapper {
	display: flex;
	position: relative;
	flex-grow: 1;
}
.appbar {
	z-index: 1201 !important;
	transition: 
		width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
		margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;
}
.appbar.open {
	width: calc(100% - 240px) !important;
	margin-left: 240px !important;
	transition: 
		width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
		margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;
}
.appbar.open .menu {
	display: none !important;
}
.appbar.open .appbar-typography {
	padding-left: 10px;
}
.appbar-typography {
	flex: 1;
}
.appbar-account-menu[aria-owns="open"] {
	text-decoration: none !important;
	background-color: rgba(0, 0, 0, 0.12) !important;
}
.drawer #drawer-paper {
	width: 56px !important;
	position: fixed;
	overflow-x: hidden !important;
	transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;
}
.drawer.open #drawer-paper {
	width: 240px !important;
	transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;
}
.drawer-button {
	display: flex !important;
	padding: 0 8px !important;
	min-height: 56px !important;
	align-items: center !important;
	justify-content: flex-end !important;
}
.appbar-toolbar {
	padding-left: 10px !important;
	padding-right: 10px !important;
}
#menu-login {
	top: 65px !important;
	width: 300px !important;
}
main {
	width: 100%;
	flex-grow: 1;
	padding-left: 72px;
	transition: padding-left 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;
}
.drawer.open + main {
	padding-left: 240px;
	transition: padding-left 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;
}
.drawer .active span,
.drawer .active h3 {
	color: #3f51b5 !important;
}
.drawer .link {
	display: flex;
	text-decoration: none;
}
.header {
	position: relative;
	width: 100%;
	height: 140px;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	padding: 15px 30px;
}
.btn-fab.top {
	position: absolute;
	bottom: -24px;
	right: 24px;
	visibility: visible;
	animation: animationFabShow .25s ease-in-out;
}
.btn-fab.top.show {
	visibility: hidden;
	animation: animationFabHide .25s ease-in-out;
}
.btn-fab.bottom {
	position: fixed;
	bottom: 24px;
	right: 24px;
	visibility: hidden;
	animation: animationFabHide .25s ease-in-out;
}
.btn-fab.bottom.show {
	z-index: 100000000;
	visibility: visible;
	animation: animationFabShow .25s ease-in-out;
}
.circle-progress {
	position: absolute;
	top: -6px;
	left: -6px;
	z-Index: 1px;
}
.content {
	/* padding-top: 40px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px; */
}
.white-space {
	min-height: 56px;
}
@keyframes animationFabShow {
	0% {
		transform: scale(0)
	}
	25% {
		transform: scale(0.2)
	}
	100% {
		transform: scale(1)
	}
}
@keyframes animationFabHide {
	0% {
		transform: scale(1)
	}
	25% {
		transform: scale(0.8)
	}
	100% {
		transform: scale(0)
	}
}
@media (min-width: 600px) {
	main {
		padding-left: 72px;
	}
	.drawer-button {
		min-height: 64px !important;
	}
	.drawer #drawer-paper {
		width: 72px !important;
	}
	.white-space {
		min-height: 64px;
	}
}