.background {
  background: url(/background.jpg) no-repeat;
  position: relative;
  width: 100%;
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.background .container-fluid {
  padding: 0;
}

.background .container-fluid #grid-form-login {
  padding: 0;
}

.background .container-fluid #grid-form-login .paper {
  width: 100%;
  height: 100%;
}

.background .container-fluid #grid-form-login .paper .content {
  height: 100%;
}

.background .container-fluid #grid-form-login .paper .content .swipeableviews {
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
}

.background .container-fluid #grid-form-login .paper .content .swipeableviews > div, .background .container-fluid #grid-form-login .paper .content .swipeableviews > div > div {
  height: 100%;
}

.background .container-fluid #grid-form-login .paper .content .appbar-bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  width: 100%;
}

.background .container-fluid #grid-form-login .paper .content .appbar-bottom header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 1px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 1.5rem;
}

.react-swipeable-view-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  color: white !important;
  margin-top: 1rem !important;
  text-transform: inherit !important;
  padding: 12px 0px !important;
}

.btn-signin {
  margin-bottom: 1rem !important;
}

.btn-facebook {
  background-color: #4267b2 !important;
}

.btn-facebook:hover {
  background-color: #3b5a99 !important;
}

.btn-google {
  background-color: #ea4335 !important;
}

.btn-google:hover {
  background-color: #d94033 !important;
}

@media (max-width: 768px) {
  #grid-form-login {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 6em 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  #grid-form-login > div > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100% !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=index.css.map */