body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.google {
  color: #eb5244;
}
.facebook {
  color: #3b5998;
}
.icon-button {
  padding-right: 5px;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent !important;
  background-image: none !important;
  color: transparent !important;
}
